<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.mapper.CategoryMapper">
    <select id="list" resultMap="categoryBean">
        select c.id as cid, c.name as cname,p.id as pid, p.name as pname ,p.price
        from
        category c left join product p
         on
         c.id = p.cid
    </select>
    <resultMap id="categoryBean" type="com.zy.pojo.Category">

        <id column="cid" property="id"/>
        <result column="cname" property="name"/>

        <collection property="products" ofType="com.zy.pojo.Product">
            <id column="pid" property="id"/>
            <result column="pname" property="name"/>
            <result column="price" property="price"/>
        </collection>
    </resultMap>
</mapper>